/*公共属性*/
/*清除浮动*/
.clear:after {
	content: "";
	display: table;
	clear: both;
	font-size: 1px;
	line-height: 0;
	height: 0;
}

/*字体大小*/
.f12 {
	font-size: 12px!important;
}

.f13 {
	font-size: 13px!important;
}

.f14 {
	font-size: 14px!important;
}

.f15 {
	font-size: 15px!important;
}

.f16 {
	font-size: 16px!important;
}

.f17 {
	font-size: 17px!important;
}

.f18 {
	font-size: 18px!important;
}

.f20 {
	font-size: 20px!important;
}

.f24 {
	font-size: 24px!important;
}

.f26 {
	font-size: 26px!important;
}

/*padding*/
.p0 {
	padding: 0!important;
}

.p10 {
	padding: 10px!important;
}

.p15 {
	padding: 15px!important;
}

.ptb10 {
	padding: 10px 0!important;
}

.plr10 {
	padding: 0 10px!important;
}

.pl10 {
	padding-left: 10px!important;
}

.pr10 {
	padding-right: 10px!important;
}

.pt10 {
	padding-top: 10px!important;
}

.pb10 {
	padding-bottom: 10px!important;
}

/*margin*/
.m0 {
	margin: 0!important;
}

.m10 {
	margin: 10px!important;
}

.m15 {
	margin: 15px!important;
}

.mtb10 {
	margin: 10px 0!important;
}

.mlr10 {
	margin: 0 10px!important;
}

.ml10 {
	margin-left: 10px!important;
}

.mr10 {
	margin-right: 10px!important;
}

.mt5 {
	margin-top: 5px!important;
}

.mt10 {
	margin-top: 10px!important;
}

.mb10 {
	margin-bottom: 10px!important;
}

.mb66 {
	margin-bottom: 66px!important;
}

.mt-1 {
	margin-top: -1px!important;
}

/*文字左中右对齐*/
.tal {
	text-align: left!important;
}

.tac {
	text-align: center!important;
}

.tar {
	text-align: right!important;
}

/*左右浮动*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.layui-btn+.layui-btn {
	margin-left: 0;
}
.layui-form-select .layui-input{
	padding-right: 0;
}

.layui-btn {
	margin-right: 5px;
	margin-bottom: 5px;
}
.layui-input-inline{
	width: 210px;
}

/*横向滚动*/
.roll-x {
	width: 100%;
	overflow-x: auto;
}

.roll-x .layui-table {
	min-width: 1500px;
}

/*宽度*/
.w50 {
	width: 50px!important;
}

.w100 {
	width: 100px!important;
}

.w120 {
	width: 120px!important;
}

.w150 {
	width: 150px!important;
}

.w200 {
	width: 200px!important;
}

.w350 {
	width: 350px!important;
}

.width{
	width: 250px;
}

.pad {
	padding: 9px 15px!important;
}

.red {
	color: #ff5149;
}

.blue {
	color: #1E9FFF;
}

.white {
	color: #fff!important;
}

.gray-th {
	background: #f2f2f2;
}

.layui-input {
	display: inline-block;
}

.layui-nav-tree .layui-nav-item {
	border-bottom: 1px solid #353842;
}

.layui-main .logo {
	color: #c2c2c2;
	font-size: 18px;
	line-height: 60px
}

.layui-main .top-menu {
	position: absolute;
	top: 0;
	left: 200px;
	font-size: 17px;
	background: 0
}

.layui-main .operate {
	position: absolute;
	top: 0;
	right: 0;
	background: 0
}

.layui-footer {
	text-align: center;
	line-height: 44px
}

.layui-nav[lay-filter=left-menu] {
	border-radius: 0
}

.layui-tab[lay-filter=top-tab] {
	margin: 0
}

.left-menu:first-child {
	display: block
}

.layui-tab-content {
	padding: 0 10px
}

iframe {
	width: 100%;
	border: 0
}

.content-search {
	margin-top: 10px
}

.handle-btn {
	padding: 10px 0;
	border-bottom: 1px solid #e2e2e2
}

.layui-table tbody tr.tableTrSelect:hover,.tableTrSelect {
	background-color: #009688;
	color: #fff
}

.center {
	text-align: center
}

.layui-tab[lay-filter="top-tab"] .layui-tab-title li:first-child .layui-tab-close {
	display: none
}

.top-left {
	position: absolute;
	line-height: 57px;
}

.menu-flexible {
	color: #009688;
	left: 157px;
	float: right
}

.menu-flexible .layui-icon {
	font-size: 23px
}

.top-menu * {
	font-size: 15px
}

.skin-rade .layui-nav-child {
	padding: 0;
	box-shadow: 0;
	border: 0;
	background-color: unset
}

.skin-rade .layui-nav-child a {
	height: 35px;
	border-radius: 50%
}

.container {
	padding: 10px;
}

/*.table-list .layui-table td {
	cursor: pointer
}*/

.content-search {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px
}

.content-search .layui-form {
	margin: unset
}

.listTopFixed {
	position: fixed;
	top: 0;
	background-color: #f2f2f2;
	z-index: 9;
	width: 100%;
	border-bottom: 1px solid #e2e2e2
}

.layui-tab[lay-filter="top-tab"] .layui-tab-title {
	float: left;
	width: 100%
}

.layui-tab[lay-filter="top-tab"] .layui-tab-button {
	position: absolute;
	float: left;
	right: 20px;
	line-height: 40px
}

.layui-inline {
	margin-bottom: 5px;
}

.layui-table a {
	color: #009688;
}

.layui-elem-field legend {
	font-size: 16px;
}

.img-cp {
	width: 66px;
	height: 66px;
}

.gray {
	color: #999;
}

.price {
	color: #FF5722!important;
}

.price:before {
	content: "\00A5";
	font-size: 12px;
	margin-right: 1px;
}

.layui-table-add th {
	text-align: right;
	font-weight: normal;
	vertical-align: top;
	padding-top: 17px;
}

.layui-date {
	background: url(../img/date.png) no-repeat 94% center;
	background-size: 24px;
}

.layui-field-box {
	padding: 0 15px;
}


/*复选框样式*/
.layui-form-checkbox {
	height: 22px;
	width: 22px;
	padding: 0;
}

.layui-form-checkbox i {
	font-size: 18px;
	width: 20px;
	right: 4px;
	top: -3px;
}


/*图片列表*/
.layer-photos-demo li {
	position: relative;
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
}

.layer-photos-demo li span {
	display: block;
	height: 20px;
	text-align: center;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}

.layer-photos-demo img {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

/*地区*/
.region .region-list {
	float: left;
	width: 220px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.layui-form-pane .layui-form-label {
	width: 120px;
}

.layui-form-pane .layui-input-block {
	margin-left: 120px;
}

.layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
	background: #3e424c;
}

.member th {
	background: #f2f2f2;
}


/*提示*/
.layui-layer-tips .layui-layer-close {
	top: -5px!important;
	right: -7px!important;
}

/*验证码*/
.verify {
	position: relative;
	width: 350px;
}

.verify .yzm {
	position: absolute;
	right: 1px;
	top: 1px;
	height: 36px;
	cursor: pointer;
	margin-right: 0;
}

.layui-btn-gray {
	background: #f2f2f2;
	color: #333;
}

.verify .layui-btn:hover {
	color: #333;
}

/*服务协议*/
.protocol-text {
	padding: 5px 15px 15px;
	line-height: 24px;
}

.protocol-text h1 {
	font-weight: bold;
	margin: 8px 0 5px;
}



/* 样式覆盖 */
.layui-layout-admin .layui-main {
	margin: 0;
}

.layui-layout-admin .layui-body {
	bottom: 0;
}

.left-menu-all {
	-webkit-transition: all .5s;
	transition: all .5s;
}

.mulu-hide .left-menu-all {
	left:auto;
	transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
}

.mulu-hide .layui-layout-admin .layui-body {
	left: 0px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.layui-tab-button {
	display: none;
}

.menu-flexible {
	display: none;
}

.layui-header {
	z-index: 1001;
}

.masked {
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1200;
	display: none;
	cursor: pointer;
}

/* 响应式样式 PC */
.mulu {
	padding: 0 10px;
	display: inline-block;
	position: relative;
	top: -3px;
}

.mulu img {
	width: 30px;
	height: 30px;
}

.layui-tab-card>.layui-tab-title,.info,.layui-table-hd,.hide-pc {
	display: none;
	display: none;
}

.layui-nav-tree .layui-nav-bar {
	width: 0;
	height: 0;
}

.table-input {
	width: 350px;
}

/* 温馨提示 */
.init {
	padding: 10px 30px;
}

.init h3 {
	margin-bottom: 8px;
}

.init .init-main p {
	margin-bottom: 5px;
}

/*添加删除详情页表格  */
.layui-table-detail th {
	width: 150px;
	display: table-cell;
	font-size: 15px;
	color: #464646;
}

.layui-table-detail td {
	display: table-cell;
	font-size: 15px;
	color: #464646;
}

/*添加删除详情页  按钮组 */
.layui-table-btn2 {
	margin-left: 195px;
	margin-bottom: 15px;
}

.layui-table-btn2 .layui-btn {
	min-width: 170px;
}

.content-search .layui-btn {
	margin-bottom: 0
}

/*汇总 */
.layui-field-res .layui-field-bd {
	padding-left: 25px;
}

/* 统计图 */
.box-main #main {
	width: 100%;
	height: 300px;
	padding-top: 20px;
}

.layui-table-content th{
	text-align: right;
}
.layui-button{
	margin-left: 195px;
}
.title{
	font-weight: bold;
	padding:10px 15px 0;
	font-size: 20px;
}
.layui-field-hd{
	min-width: 130px;
	display: inline-block;
	text-align: right;
	padding-right: 20px;
}
/*lodaing*/
.loading {
	position: relative;
	left:49%;
}
/* 分页*/
 .tac {
	display: none;
}
/* 隐藏按钮*/
.hide {
	display: none;
}

label {
	cursor: pointer
}
