/*修改表单CSS*/
.meetingRoom-form {
    background-color: #F0F0F0;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 440px;
    margin-top: -220px;
    margin-left: -250px;
    border: 1px solid #eee;
    z-index: 1500;
    display: none;
}

.meetingRoom-form .layui-form {
    margin-right: 35px;
}

.meetingRoom-form .layui-form-icon {
    text-align: right;
    margin-top: 14px;
    cursor: pointer;
}

.meetingRoom-form .layui-form-icon i {
    font-size: 26px;
    line-height: 26px;
    color: red;
}

/*遮罩*/
.meetingRoomMasked {
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1200;
    display: none;
    cursor: pointer;
}
