.switch {
    width: 70px;
    margin: 5px 0;
}

.btn_fath {
    position: relative;
    border-radius: 20px;
}

.btn1 {
    float: left;
}

.btn2 {
    float: right;
}

.btnSwitch {
    height: 30px;
    width: 30px;
    border: none;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

.btnSwitch .btn2 {
    width: 35px;
    text-align: left;
}

.move {
    z-index: 100;
    width: 30px;
    border-radius: 15px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    border: 1px solid #828282;
    background-color: #f1eff0;
    box-shadow: 0 0 5px 1px #999;
}

.openON {
    left: 40px;
}

.closeOFF {
    left: 0;
}

.on.btn_fath {
    background-color: #5281cd;
}

.off.btn_fath {
    background-color: #828282;
}