$--main-w: 750px;

$--container-w: 960px;


$--color-primary: #e60012 !default;
$--color-orange: #eb6c06;


$--getCode-button-color: #e6a23c;
$--getCode-button-color__hover: #eeb867;
$--getCode-button-color__focus: #e69111;
$--getCode-button-color__dis: #ccc;